body {
    padding: 15px;
    background-color: rgb(9, 5, 22);
    color: white;
    font-size: 15px;            
}
.dark-mode {
    background-color: rgb(9, 5, 22);
    color: white;
}
.light-mode {
    background-color: white;
    color: rgb(9, 5, 22);
}
.p1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p2 {
    font-family: cursive;
}